body, html {
  margin:0;
  padding:0;
  height:100%;
  font-family:sans-serif;
}

#app {
  display:grid;
  grid-template-columns:300px 1fr;
  grid-template-rows:60px 1fr;
  grid-template-areas:
    "header header"
    "panel map";
  height:100%;
}

header {
  grid-area:header;
  background:#111827;
  color:#fff;
  display:flex;
  align-items:center;
  padding:0 1em;
}

#panel {
  grid-area:panel;
  background:#1f2937;
  color:#fff;
  overflow:auto;
  padding:1em;
}

#map {
  grid-area:map;
}

@media(max-width:800px){
  #app {
    grid-template-columns:1fr;
    grid-template-rows:60px auto 1fr;
    grid-template-areas:"header" "panel" "map";
  }
}

label {
  display:block;
  margin-top:0.5em;
  font-size:0.9em;
}

input, select {
  width:100%;
  padding:0.3em;
  margin-top:0.2em;
}

button {
  margin-top:0.5em;
  padding:0.5em;
}

.stat {
  border-top:1px solid #374151;
  padding:0.3em 0;
  font-size:0.85em;
}
